Final_Project/clipboard.txt
[{"id":"6b10bb1d.3b309c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1af3af01.eb9ed9","type":"tcp in","z":"6b10bb1d.3b309c","name":"from TinyOS to NodeRed via TCP","server":"server","host":"","port":"1234","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":290,"y":400,"wires":[["af79ed98.0aae3"]]},{"id":"8d43fb9a.4da4b8","type":"function","z":"6b10bb1d.3b309c","name":"Parser","func":"var CHANNEL_ID = \"2256869\";\nvar field=msg.payload[5];\nvar index=msg.payload[3]+1;\nmsg.topic = \"channels/\"+CHANNEL_ID+\"/publish/fields/field\"+index;\nmsg.payload=\"field\"+index+\"=\"+field+\"&status=MQTTPUBLISH\";\n\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1000,"y":400,"wires":[["713e549b.f14164"]]},{"id":"713e549b.f14164","type":"mqtt out","z":"6b10bb1d.3b309c","name":"to THINGSPEAK via mqtt","topic":"channels/2256869/publish","qos":"0","retain":"","broker":"8341d717.592658","x":1280,"y":400,"wires":[]},{"id":"af79ed98.0aae3","type":"delay","z":"6b10bb1d.3b309c","name":"Message rate limiter (1msg/15s)","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":400,"wires":[["8d43fb9a.4da4b8"]]},{"id":"8341d717.592658","type":"mqtt-broker","z":"","name":"MQTT IOT Project 2023","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"OxQcNjoWDTsPNhAdFDYZCiA","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
